# =======================================================================================
# 
#                          /$$$$$$   /$$$$$$  /$$$$$$$  /$$$$$$$$
#                         /$$__  $$ /$$__  $$| $$__  $$| $$_____/
#                        | $$  \__/| $$  \ $$| $$  \ $$| $$      
#                        | $$      | $$  | $$| $$  | $$| $$$$$   
#                        | $$      | $$  | $$| $$  | $$| $$__/   
#                        | $$    $$| $$  | $$| $$  | $$| $$      
#                        |  $$$$$$/|  $$$$$$/| $$$$$$$/| $$$$$$$$
#                         \______/  \______/ |_______/ |________/
#               /$$$$$$  /$$      /$$ /$$   /$$ /$$$$$$$$ /$$$$$$$   /$$$$$$ 
#              /$$__  $$| $$  /$ | $$| $$$ | $$| $$_____/| $$__  $$ /$$__  $$
#             | $$  \ $$| $$ /$$$| $$| $$$$| $$| $$      | $$  \ $$| $$  \__/
#             | $$  | $$| $$/$$ $$ $$| $$ $$ $$| $$$$$   | $$$$$$$/|  $$$$$$ 
#             | $$  | $$| $$$$_  $$$$| $$  $$$$| $$__/   | $$__  $$ \____  $$
#             | $$  | $$| $$$/ \  $$$| $$\  $$$| $$      | $$  \ $$ /$$  \ $$
#             |  $$$$$$/| $$/   \  $$| $$ \  $$| $$$$$$$$| $$  | $$|  $$$$$$/
#              \______/ |__/     \__/|__/  \__/|________/|__/  |__/ \______/ 
#
# =======================================================================================
#        Define individuals and teams that are responsible for code in a repository.
#  Author: Fabio Craig Wimmer Florey                                      Version: 0.0.1
# =======================================================================================
* @FabioFlorey
