# =======================================================================================
#
#                                   $$$$$$\  $$$$$$\ $$$$$$$$\                               
#                                  $$  __$$\ \_$$  _|\__$$  __|                              
#                                  $$ /  \__|  $$ |     $$ |                                 
#                                  $$ |$$$$\   $$ |     $$ |                                 
#                                  $$ |\_$$ |  $$ |     $$ |                                 
#                                  $$ |  $$ |  $$ |     $$ |                                 
#                               $$\\$$$$$$  |$$$$$$\    $$ |                                 
#                               \__|\______/ \______|   \__|                                 
#                                                                         
#        $$\      $$\  $$$$$$\  $$$$$$$\  $$\   $$\ $$\       $$$$$$$$\  $$$$$$\  
#        $$$\    $$$ |$$  __$$\ $$  __$$\ $$ |  $$ |$$ |      $$  _____|$$  __$$\ 
#        $$$$\  $$$$ |$$ /  $$ |$$ |  $$ |$$ |  $$ |$$ |      $$ |      $$ /  \__|
#        $$\$$\$$ $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |      $$$$$\    \$$$$$$\  
#        $$ \$$$  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |      $$  __|    \____$$\ 
#        $$ |\$  /$$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |      $$ |      $$\   $$ |
#        $$ | \_/ $$ | $$$$$$  |$$$$$$$  |\$$$$$$  |$$$$$$$$\ $$$$$$$$\ \$$$$$$  |
#        \__|     \__| \______/ \_______/  \______/ \________|\________| \______/ 
#
# =======================================================================================                             
#            Text file with a syntax matching the requirements of git-config. 
#  Author: Fabio Craig Wimmer Florey                                      Version: 0.0.1
# =======================================================================================
