# =============================================================================
# Project
# =============================================================================
# .GITIGNORE
# -----------------------------------------------------------------------------
# List of files and directories to be ignored by Git.
#
# :Authors: Fabio Craig Wimmer Florey <fabioflorey@icloud.com>
# :Version: 0.0.1
# :License: MIT-0


# Virtual Environment
# ---------------------------------------------------------------------------------------
venv/

# Build & Release
# ---------------------------------------------------------------------------------------
*.egg-info
*.pyc
__pycache__/
/build
/dist

# Logs
# ---------------------------------------------------------------------------------------
*.log
