# =============================================================================
# Project
# =============================================================================
# .GITATTRIBUTES
# -----------------------------------------------------------------------------
# Configuration file for Git attributes.
#
# :Authors: Fabio Craig Wimmer Florey <fabioflorey@icloud.com>
# :Version: 0.0.1
# :License: MIT-0


*                        text=auto
docs/**                  linguist-documentation

# DotFiles
# ---------------------------------------------------------------------------------------
*.gitattributes          text
*.gitattributes          linguist-language=gitattributes
.gitattributes           export-ignore
.gitignore               text
.gitignore               export-ignore
.gitmodule               text
.gitmodule               export-ignore
.mailmap                 text
.mailmap                 export-ignore

# Markdown
# ---------------------------------------------------------------------------------------
*.md                     text diff=markdown
*.md                     linguist-detectable

# Serialization Files
# ---------------------------------------------------------------------------------------
*.cfg                    text
*.in                     text
*.ini                    text
*.toml                   text
*.yml                    text

# Python Source Files
# ---------------------------------------------------------------------------------------
*.py                     text diff=python
