# =============================================================================
# Project
# =============================================================================
# .MAILMAP
# -----------------------------------------------------------------------------
# Mapping file for Git commit email addresses.
#
# :Authors: Fabio Craig Wimmer Florey <fabioflorey@icloud.com>
# :Version: 0.0.1
# :License: MIT-0

Fabio Florey <fabioflorey@icloud.com>
Fabio Craig Wimmer Florey <fabioflorey@icloud.com>
