# =======================================================================================                        
#                                                                                                                                                  
#        $$\      $$\  $$$$$$\  $$$$$$\ $$\       $$\      $$\  $$$$$$\  $$$$$$$\  
#        $$$\    $$$ |$$  __$$\ \_$$  _|$$ |      $$$\    $$$ |$$  __$$\ $$  __$$\ 
#        $$$$\  $$$$ |$$ /  $$ |  $$ |  $$ |      $$$$\  $$$$ |$$ /  $$ |$$ |  $$ |
#        $$\$$\$$ $$ |$$$$$$$$ |  $$ |  $$ |      $$\$$\$$ $$ |$$$$$$$$ |$$$$$$$  |
#        $$ \$$$  $$ |$$  __$$ |  $$ |  $$ |      $$ \$$$  $$ |$$  __$$ |$$  ____/ 
#        $$ |\$  /$$ |$$ |  $$ |  $$ |  $$ |      $$ |\$  /$$ |$$ |  $$ |$$ |      
#    $$\\$$ | \_/ $$ |$$ |  $$ |$$$$$$\ $$$$$$$$\ $$ | \_/ $$ |$$ |  $$ |$$ |      
#    \__|\__|     \__|\__|  \__|\______|\________|\__|     \__|\__|  \__|\__|      
#                                                                          
# =======================================================================================
#   Map author\committer names\email addresses to canonical real names\email addresses.
#  Author: Fabio Craig Wimmer Florey                                      Version: 0.0.1
# =======================================================================================
Fabio Florey <email@domain.com>
Fabio Craig Wimmer Florey <email@domain.com>
